/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */
/* MODULES - Re-usable site elements.
========================================================================== */
body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden; }

h2 {
  font-weight: 400; }

.main_nav {
  height: 30px;
  display: flex;
  padding: 30px;
  background-color: #00b23b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  justify-content: space-between; }
  .main_nav .nav_in, .main_nav .nav_in a {
    width: 120px;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 34px; }
  .main_nav .nav_in a {
    font-size: 24px; }
    .main_nav .nav_in a:hover {
      text-decoration: none; }

button:focus {
  outline: none; }

.start_option {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; }
  @media (min-width: 992px) {
    .start_option {
      width: 100%; } }

.option {
  display: flex;
  margin: 30px;
  width: 50%;
  height: 50%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  position: relative; }
  @media (min-width: 992px) {
    .option {
      width: 100%; } }
  .option a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 0.2s; }
    .option a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #00b23b;
      opacity: 0;
      transition: 0.2s; }
    .option a:hover {
      text-decoration: none;
      border: 3px solid #00b23b;
      border-radius: 5px;
      transition: 0.2s; }
      .option a:hover:before {
        opacity: .1;
        transition: 0.2s; }

.main_nav.form_nav {
  background-color: transparent; }

.app_container {
  display: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: #FFFFFF;
  width: 80%;
  min-width: 300px;
  right: 0;
  top: -30px;
  bottom: 0; }

/* Message style */
.app_msg {
  display: flex;
  width: 1000px;
  min-height: 150px;
  border-radius: 5px;
  margin: 0 auto 0;
  background-color: #00b23b;
  color: #FFFFFF; }

.app_msg p {
  margin: 30px; }

/* Style the form */
.regForm {
  margin: 30px auto 0;
  width: 1000px; }

.input_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  height: 150px; }

.input_list .each_btn {
  width: 48%;
  height: 50px;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.input_list label,
.input_list input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.input_list input[type="radio"] {
  opacity: 0.011;
  z-index: 10; }

.input_list input[type="radio"]:checked + label {
  border: 2px solid #00b23b;
  color: #00b23b; }

.input_list label {
  cursor: pointer;
  z-index: 5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center; }

.prevBtn, .nextBtn {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer; }

.step_buttons {
  display: flex;
  justify-content: flex-end; }

.prevBtn {
  color: #a2a2a2;
  background-color: #FFFFFF;
  border: 2px solid #EEEEEE; }

.nextBtn {
  color: #FFFFFF;
  background-color: #00b23b;
  border: 2px solid #00b23b; }

/* Style the input fields */
.tab input {
  display: inline-flex;
  padding: 10px;
  width: 40%;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  margin: 10px;
  font-family: "Open Sans", sans-serif; }
  .tab input:focus {
    outline: none; }

.input-group {
  position: relative;
  left: 20px; }
  .input-group input {
    width: 250px;
    border-radius: 0 5px 5px 0; }
    .input-group input:focus {
      outline: none; }
  .input-group .input-group-append {
    position: absolute;
    top: 10px;
    left: -20px;
    background: #eee;
    width: 30px;
    height: 38px;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d5d5d5; }
    .input-group .input-group-append .calendar:before {
      content: "\f073";
      font-size: 20px;
      font-family: "FontAwesome"; }

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #fce8e9; }

/* Hide all steps by default: */
.tab {
  display: none; }

/* Make circles that indicate the steps of the form: */
.step {
  height: 25px;
  width: 25px;
  margin: 0 30px;
  background-color: tint(#FFFFFF, 30%);
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block; }

/* Mark the active step: */
.step.active {
  background-color: #FFFFFF;
  transform: scale(0.7); }

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #FFFFFF;
  position: relative; }
  .step.finish:before {
    content: "\f00c";
    position: absolute;
    left: 4px;
    top: 4px;
    color: #1bbc9b;
    font-family: FontAwesome; }

.app_side {
  background-color: #1BBC9B;
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #FFFFFF;
  overflow: hidden; }
  .app_side h3 {
    margin: 30px; }
  .app_side .side_container {
    margin-top: 120px; }

.progress_bar {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between; }
  .progress_bar .progress_list {
    width: 100%;
    display: flex;
    align-items: center; }

.navbar-collapse {
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
  position: relative; }
  .navbar-collapse .navbar-nav {
    padding: 20px 30px; }

.menu {
  width: 35px;
  position: absolute;
  left: 380px;
  top: 110px; }

.burger .mobile-burger {
  width: 100%;
  height: 20px;
  padding-top: 15px; }

.burger:hover:not(.activated) span:before {
  top: -10px; }

.burger:hover:not(.activated) span:after {
  bottom: -10px; }

.burger span {
  width: 100%;
  display: block;
  height: 3px;
  background: #a2a2a2;
  position: relative; }
  .burger span:before {
    content: '';
    display: block;
    background-color: #a2a2a2;
    width: 100%;
    height: 3px;
    position: absolute;
    transition: 0.2s;
    top: -12px; }
  .burger span:after {
    content: '';
    display: block;
    background-color: #a2a2a2;
    width: 100%;
    height: 3px;
    position: absolute;
    transition: 0.2s;
    bottom: -12px; }

.activated .mobile-burger .burger-bars {
  height: 0px; }
  .activated .mobile-burger .burger-bars:before {
    transform: rotate(45deg);
    top: calc(25% - 1px); }
  .activated .mobile-burger .burger-bars:after {
    transform: rotate(-45deg);
    bottom: calc(25% - 1px); }

.progress {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #9a9a9a; }
  .progress > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.8em; }
    .progress > li:before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      background: #EEEEEE;
      width: 3em;
      height: 3em;
      text-align: center;
      margin-bottom: 0.25em;
      line-height: 3em;
      border-radius: 100%;
      position: relative;
      z-index: 1000; }
    .progress > li:after {
      content: '';
      position: absolute;
      display: block;
      background: #EEEEEE;
      width: 100%;
      height: 0.5em;
      top: 1.25em;
      left: 50%;
      margin-left: 1.5em\9;
      z-index: -1; }
    .progress > li:last-child:after {
      display: none; }
    .progress > li.is-complete {
      color: #00b23b; }
      .progress > li.is-complete:before, .progress > li.is-complete:after {
        color: #FFF;
        background: #00b23b; }
    .progress > li.is-active {
      color: #00b23b;
      position: relative; }
      .progress > li.is-active:before {
        color: #FFF;
        background: #00b23b; }

/**
   * Needed for IE8
   */
.progress__last:after {
  display: none !important; }

/**
   * Size Extensions
   */
.progress--medium {
  font-size: 1.5em; }

.progress--large {
  font-size: 2em; }

/**
 * Some Generic Stylings
 */
.progress {
  margin-bottom: 30px; }

a {
  color: #00b23b;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.status_container {
  width: 1000px;
  margin: auto;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  padding: 30px 100px; }
  .status_container h1 {
    color: #00b23b;
    font-family: "Raleway", sans-serif; }

.status_side {
  width: 20px;
  height: 50px;
  background-color: #1BBC9B;
  position: absolute;
  left: 0; }

.status_sided {
  width: 200px; }

.progress_info {
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 30px;
  position: relative; }
  .progress_info h4 {
    color: #1BBC9B; }

.summary_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.summary_box {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  width: 25%;
  padding: 10px 30px;
  margin-top: 20px; }
  .summary_box h2 {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    margin: 10px 0; }
  .summary_box p {
    font-size: 1.5em;
    margin: 10px 0; }
