$green : #00b23b;
$blue : #1BBC9B;
$grey: #EEEEEE;
$white : #FFFFFF;
$red: #ed5e68;

$font-primary: 'Open Sans', sans-serif; 
$font-secondary: 'Raleway', sans-serif;

$color-primary: $green;
$color-secondary: $blue;
$color-tertiary: $grey;

$box-min-height: 150px;
$space: 30px;
$round-corner: 5px;
$shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
$transition: .2s;

