.app_side{
    background-color: $color-secondary;
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: $white;

    overflow: hidden;

    h3{
        margin: $space;
    }

    .side_container{
        margin-top: 120px;
    }
}


.progress_bar {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;

    .progress_list{
        width: 100%;
        display: flex;
        align-items: center;
    }
  }


