.start_option{
  width: 100vw;
  height: 100vh;
  background-color: $white;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  @include respond-to('medium') {
    width: 100%;
  }
}

.option{
  display: flex;
  margin: $space;
  width: 50%;
  height: 50%;
  box-shadow: $shadow;
  position: relative;
    @include respond-to('medium') {
      width: 100%;
    }

  a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: $transition;

    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-primary;
      opacity: 0;
      transition: $transition;
    }


    &:hover{
      text-decoration: none;
      border: 3px solid $color-primary;
      border-radius: $round-corner;
      transition: $transition;

      &:before{
        opacity: .1;
        transition: $transition;
      }
    }
  }
}


.main_nav.form_nav{
background-color: transparent;
}

.app_container{
  display: flex;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: $white;
  width: 80%;
  min-width: 300px; 
  right: 0;
  top: -$space;
  bottom: 0;
}

/* Message style */
.app_msg {
  display: flex;
  width: 1000px;
  min-height: $box-min-height;
  border-radius: $round-corner;
  margin: 0 auto 0;
  background-color: $color-primary;
  color: $white;
}

.app_msg p{
  margin: $space;
}

/* Style the form */
.regForm {
  margin: $space auto 0;
  width: 1000px;
}
  
// Radio button style
.input_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  height: 150px;
}

.input_list .each_btn {
  width: 48%;
  height: 50px;
  position: relative;
  box-shadow: $shadow;
  border-radius: $round-corner;
}

.input_list label,
.input_list input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.input_list input[type="radio"] {
  opacity: 0.011;
  z-index: 10;
}

.input_list input[type="radio"]:checked+label {
  border: 2px solid $color-primary;
  color: $color-primary;
}

.input_list label {
  cursor: pointer;
  z-index: 5;
  border-radius: $round-corner;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Button style
.prevBtn, .nextBtn{
  height: 40px;
  width: 200px;
  border-radius: $round-corner;
  margin-top: $space;
  cursor: pointer;
}

.step_buttons{
  display: flex;
  justify-content: flex-end;
}

.prevBtn{
  color: darken($grey, 30%);
  background-color: $white;
  border: 2px solid $grey;
}

.nextBtn{
  color: $white;
  background-color: $color-primary;
  border: 2px solid $color-primary;
}
  /* Style the input fields */
  .tab input {
    display: inline-flex;
    padding: 10px;
    width: 40%;
    border: 1px solid darken($grey, 10%);
    border-radius: $round-corner;
    margin: 10px;
    font-family: $font-primary;

    &:focus{
      outline: none;
    }
}


.input-group {
  position: relative;
  left: 20px;

  input {
    width: 250px;
    border-radius: 0 $round-corner $round-corner 0;

    &:focus{
      outline: none;
      }
    }

   .input-group-append {
      position: absolute;
      top: 10px;
      left: -20px;
      background: #eee;
      width: 30px;
      height: 38px;
      border-radius: 5px 0 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid darken($grey, 10%);

      .calendar{
        &:before{
          content: "\f073";
          font-size: 20px; 
          font-family: "FontAwesome";
        }
      }
  }

}




  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: lighten($red, 30%);
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 25px;
    width: 25px;
    margin: 0 $space;
    background-color: tint($white, 30%);
    border: 2px solid $white;
    border-radius: 50%;
    display: inline-block;

  }
  
  /* Mark the active step: */
  .step.active {
    background-color: $white;
    transform: scale(.7);
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: $white;
    position: relative;

    &:before{
      content: "\f00c";
      position: absolute;
      left: 4px;
      top: 4px;
      color: #1bbc9b;
      font-family: FontAwesome;
    }
  }

// input with icon

